:root {
    --light-color: #adb5bd;
    --lighter-color: #F4F4F4;
    --lighter-color-75: #F4F4F4BF;
    --dark-color: #2b3035;
    --darker-color: #212529;
    --darkest-color: #15191D;
    --darkest-color-25: #15191D40;
    --accent-color: #FF6600;
    --accent-color-75: #FF6600BF;
    --accent-color-50: #FF660080;
}

.light-theme {
    --light-color: #2b3035;
    --lighter-color: #212529;
    --lighter-color-75: #15191D;
    --dark-color: #adb5bd;
    --darker-color: #d4d5d6;
    --darkest-color: #F4F4F4;
    --darkest-color-25: #F4F4F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

::-webkit-scrollbar {
    width: .375rem;
}

body::-webkit-scrollbar {
    width: .75rem;
}

body::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
    background: var(--darkest-color);
}

body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border: .15rem solid var(--darkest-color);
    border-radius: 1rem;
}

body {
    background-color: var(--darker-color);
}

.expenses-main {
    display: inline-flex;
    background-color: var(--dark-color);
    width: 100%;
    z-index: 2;
}

.expenses-main>aside {
    background-color: var(--darkest-color);
    border-radius: 0 1rem 1rem 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.navbar {
    border-radius: 0 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: bold;
}

.navbar * {
    color: var(--lighter-color);
}

.navbar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-pages * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-pages a {
    text-align: center;
    width: 100%;
    padding: 0 .5rem 0 .5rem;
    height: 5rem;
    width: 4rem;
    text-decoration: none;
}

.navbar-pages a.active {
    background-color: var(--accent-color-50);
}

.navbar-pages a:visited {
    color: var(--lighter-color);
}

.navbar-pages a:hover {
    background-color: var(--accent-color-75);
}

.navbar-pages a:first-child.active {
    border-radius: 0 1rem 0 0;
}

.navbar-pages a:first-child:hover {
    border-radius: 0 1rem 0 0;
}

#Theme {
    text-align: center;
    width: 100%;
    padding: 0 .25rem 0 .25rem;
    height: 5rem;
    text-decoration: none;
}

#Theme:hover {
    background-color: var(--lighter-color);
}

.navbar img {
    width: 2rem;
    height: 2rem;
}

.navbar-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-footer {
    row-gap: 1rem;
}

.navbar-social {
    row-gap: 1rem;
}

.navbar-social img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(63%) saturate(1535%) hue-rotate(222deg) brightness(120%) contrast(110%);
    border-radius: 100%;
}

.light-theme .navbar-social img {
    filter: invert(8%) sepia(4%) saturate(2277%) hue-rotate(169deg) brightness(99%) contrast(96%);
}

.navbar-social a:hover {
    background-color: var(--accent-color);
    border-radius: 100%;
    box-shadow: 0px 0px .75rem .25rem var(--accent-color);
}

.navbar-galicia {
    text-decoration: none;
}

.navbar-galicia:visited {
    color: var(--lighter-color);
}

.navbar-galicia:hover {
    color: var(--accent-color);
}

.expenses-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0;
    width: 100%;
    background-color: var(--dark-color);
}

.expenses-cardholders {
    background-color: var(--darker-color);
    color: var(--lighter-text);
    position: sticky;
    top: 0;
    z-index: 2;
    border-radius: 0 0 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.cardholders-cardholder {
    font-size: .65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#CardholdersButtons {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
    gap: .25rem;
    justify-content: center;
}

#CardholdersButtons,
#CardholdersSearch {
    margin: 1rem;
}

#CardholdersButtons .cardholders-cardholder {
    color: var(--lighter-color);
    border-radius: 1rem;
}

#CardholdersButtons .cardholders-cardholder label {
    padding: .5rem;
}

#CardholdersButtons .cardholders-cardholder input {
    display: none;
    padding: .5rem;
}

#CardholdersButtons label:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

#CardholdersButtons .btn-check:checked+.cardholders-cardholder {
    background-color: var(--accent-color-75);
}

#CardholdersSearch:hover {
    box-shadow: 0px 0px 5px 2px var(--accent-color);
    border-radius: 1rem;
}

#CardholdersSearch .search-input::-webkit-search-cancel-button {
    display: none;
}

.searchbar {
    display: flex;
    justify-content: center;
    border: 0;
}

.searchbar input {
    padding: .5rem;
    border-radius: 1rem 0 0 1rem;
    border: 0;
}

#SearchInput {
    outline-style: none;
}

#SearchIcon {
    height: 100%;
    background-color: var(--accent-color);
    padding: .5rem;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    color: var(--lighter-color);
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: var(--darker-color);
    border: 1px solid var(--dark-color);
    padding: .35em;
}

table thead tr {
    background-color: var(--darkest-color);
}

table tr.cardholder-info {
    background-color: var(--darkest-color);
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .9em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {

    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .cardholder-info {
        display: flex;
        flex-direction: column;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

}

.expenses {
    width: 100%;
    padding: 1rem;
}

.expenses-header {
    background-color: var(--lighter-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

tr.row-details:hover {
    background-color: var(--accent-color-75);
    border-color: var(--accent-color-75);
    font-weight: 600;
    cursor: pointer;
}

.toast-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: .5rem;
}

.toast-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85px;
    height: 35px;
    border-radius: 1rem;
    background-color: var(--accent-color);
    font-size: .8rem;
    font-weight: 700;
    border: none;
}

#ResumeDownloader,
#ResumeDownloader button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    border: none;
}

#ResumeDownloader:hover * {
    color: var(--lighter-color);
}

.toast-button {
    text-decoration: none;
}

.toast-button:visited {
    color: var(--darkest-color);
}

.toast-button:hover {
    box-shadow: 0px 0px .75rem .25rem var(--lighter-color);
    cursor: pointer;
    color: var(--lighter-color);
}

.cardholder-info:hover {
    background-color: var(--accent-color-75);
    border-color: var(--accent-color-75);
    color: var(--lighter-color);
    cursor: pointer;
}

.toast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
    color: var(--lighter-color)
}

.toast-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .65rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

#ToastFilters {
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 9;
    bottom: 1.5vh;
    padding: 1rem .75rem 1rem .75rem;
}

#ToastExpense {
    visibility: hidden;
    text-align: center;
    position: fixed;
    z-index: 9;
    bottom: 1.5vh;
    padding: 1rem .75rem 1rem .75rem;
}

.toast-container img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 25%;
}

#ToastFilters.show {
    visibility: visible;
    background-color: var(--darker-color);
    border-radius: 1rem;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#ToastExpense.show {
    visibility: visible;
    background-color: var(--dark-color);
    border-radius: 1rem;
    position: fixed;
    bottom: 20vh;
    width: 450px;
    max-width: 70vw;
    max-height: 80vh;
    overflow-y: scroll;
}

.toast-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
    gap: 0.15rem;
}

@-webkit-keyframes fadein {

    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 1.5vh;
        opacity: 1;
    }
}

@keyframes fadein {

    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 1.5vh;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {

    from {
        bottom: 1.5vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {

    from {
        bottom: 1.5vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media (min-width: 375px) {

    .cardholders-cardholder * {
        font-size: .8rem;
    }
}

@media (min-width: 600px) {

    .cardholders-cardholder * {
        font-size: .9rem;
    }

}

@media (min-width: 768px) {

    .cardholders-cardholder * {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {

    .expenses-cardholders {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {

    #CardholdersButtons label:hover {
        background-color: var(--darker-color);
    }

    #ToastFilters {
        bottom: 50vh;
    }

    #ToastExpense.show {
        bottom: 5vh;
    }
}

@-webkit-keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeout {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
